* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(87, 4, 87);
    height: 15vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    padding-left: 3rem;
    font-size: 3rem;
    color: white
}

body {
    background-color: purple;
}

.Content {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CostumeBox {
    background-color: #EFB41C;
    border-radius: 10%;
    width: 17vw;
    height: 35vh;
    margin: 5rem, 2rem, 3rem, 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImagensDaBody {
    width: 9vw;
}

h3 {
    font-size: 2rem;
    color: purple;
}

.footer {
    height: 30vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CostumeBoxFooter {
    width: 10vw;
    height: 25vh;
    margin: 5rem, 2rem, 3rem, 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImagensDaFooter {
    width: 8vw;
    transition: ease-in 0.1s;
}

#ImagensDaFooter:hover {
    width: 9vw;
}